<%# Extra stylesheets (CSS) just for this page. %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag "about" %>
  <%= stylesheet_link_tag "animate" %>
<% end %>

<%# Extra Javascript just for this page. %>
<% content_for :extra_javascripts do %>
  <%= javascript_include_tag "about.js" %>
  <%= javascript_include_tag "wow.min.js" %>
<% end %>

<%# Activate WOW %>
<script>new WOW().init();</script>

<%# fixed side navigation %>
<%= render "layouts/side_navigation" %>

<div id="about-background" class="background-height">

  <%# text %>
  <div id="about-background-left" class="background-height">
    <h1 class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay=".75s">Engineer</h1>
    <h1 class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay="1.5s">Entreprenuer</h1>
    <h1 class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay="2.25s">Designer</h1>

    <%# scroll down buttom %>
    <div id="learnmore-box">
      <h2 id="jc-quote" class="wow fadeInLeft" data-wow-duration=".75s" data-wow-delay="3s">The path to success may seem endless, but it's better that way. It just means that there is no limit to how far you can go</h2>
      <button class="wow bounceInLeft" data-wow-duration="1.25s" data-wow-delay="3.75s" id="learnmore-btn">More About Me</button>
    </div>

    <%# Social links %>
    <div id="about-background-left-footer" class="wow bounceInUp" data-wow-duration="1.25s" data-wow-delay="3.75s">

      <%# appears in xs and lg screens %>
      <div class="social-link-box visible-xs-lg">
        <a href="mailto:jxmoneyz@gmail.com"><%= image_tag "social/email_gray.svg", :class => "social-link", :style => "margin-left: 0px;" %></a>
        <a href="https://www.linkedin.com/in/hackbyrd"><%= image_tag "social/linkedin_gray.svg", :class => "social-link" %></a>
        <a href="https://github.com/Hackbyrd"><%= image_tag "social/github_gray.svg", :class => "social-link" %></a>
        <a href="https://www.facebook.com/hackbyrd"><%= image_tag "social/facebook_gray.svg", :class => "social-link" %></a>
        <a href="https://twitter.com/Hackbyrd"><%= image_tag "social/twitter_gray.svg", :class => "social-link" %></a>
        <a href="https://plus.google.com/u/0/+JonathanChenHackbyrd"><%= image_tag "social/googleplus_gray.svg", :class => "social-link" %></a>
      </div>

      <%# appears in md screens %>
      <div class="social-link-box visible-md">
        <a href="mailto:jxmoneyz@gmail.com"><%= image_tag "social/email_gray.svg", :class => "social-link", :style => "margin-left: 0px;" %></a>
        <a href="https://www.linkedin.com/in/hackbyrd"><%= image_tag "social/linkedin_gray.svg", :class => "social-link" %></a>
        <a href="https://github.com/Hackbyrd"><%= image_tag "social/github_gray.svg", :class => "social-link" %></a>
      </div>
      <div class="social-link-box visible-md">
        <a href="https://www.facebook.com/hackbyrd"><%= image_tag "social/facebook_gray.svg", :class => "social-link", :style => "margin-left: 0px;" %></a>
        <a href="https://twitter.com/Hackbyrd"><%= image_tag "social/twitter_gray.svg", :class => "social-link" %></a>
        <a href="https://plus.google.com/u/0/+JonathanChenHackbyrd"><%= image_tag "social/googleplus_gray.svg", :class => "social-link" %></a>
      </div>

      <%# appears in sm screens %>
      <div class="social-link-box visible-sm">
        <a href="mailto:jxmoneyz@gmail.com"><%= image_tag "social/email_gray.svg", :class => "social-link", :style => "margin-left: 0px;" %></a>
        <a href="https://www.linkedin.com/in/hackbyrd"><%= image_tag "social/linkedin_gray.svg", :class => "social-link" %></a>
      </div>
      <div class="social-link-box visible-sm">
        <a href="https://www.facebook.com/hackbyrd"><%= image_tag "social/facebook_gray.svg", :class => "social-link", :style => "margin-left: 0px;" %></a>
        <a href="https://twitter.com/Hackbyrd"><%= image_tag "social/twitter_gray.svg", :class => "social-link" %></a>
      </div>
      <div class="social-link-box visible-sm">
        <a href="https://github.com/Hackbyrd"><%= image_tag "social/github_gray.svg", :class => "social-link", :style => "margin-left: 0px;" %></a>
        <a href="https://plus.google.com/u/0/+JonathanChenHackbyrd"><%= image_tag "social/googleplus_gray.svg", :class => "social-link" %></a>
      </div>
    </div>
  </div>

  <%# background image %>
  <div id="about-background-right" class="background-height"></div>

</div>

<%# content %>
<div id="about-content-container">
  <div id="about-content-diagonal">

    <%# Introduction %>
    <div class="about-content-inner" style="margin-bottom: 50px;">
      <h1>Hello, I'm <b class="text-red">Jonathan</b> Chen</h1>
    </div>

    <div class="about-content-inner">
      <%= image_tag "about/maryland-state.png" %>
    </div>

    <div class="about-content-inner" style="min-height: 10px">
      <h2 style="display: inline">I was born and raised in Montgomery County, <b class="text-red">Maryland</b></h2>
    </div>

    <%# Early Education %>
    <div class="about-content-inner">
      <h2>where I attended...</h2>
      <%= image_tag "about/travilah.jpg", :class => "school-img" %>
      <%= image_tag "about/frost.jpg", :class => "school-img" %>
      <%= image_tag "about/wootton.jpg", :class => "school-img", :style => "margin-right: 0px;" %>
      <br/>
      <span class="img-caption"><b class="text-red">Travilah</b><br/>Elementary School</span>
      <span class="img-caption"><b class="text-red">Frost</b><br/>Middle School</span>
      <span class="img-caption" style="margin-right: 0px"><b class="text-red">Wootton</b><br/>High School</span>
    </div>

    <div class="about-content-inner">
      <div class="bar redbar float-center" style="margin-top: 35px"></div>
    </div>

    <%# Family %>
    <div class="about-content-inner" style="min-height: 10px;">
      <h2>I grew up with a loving <b class="text-red">family</b></h2>
    </div>

    <div class="about-content-inner" style="margin-bottom: 0px;">
      <%= image_tag "about/mom_me.jpg", :class => "family-img gray" %>
      <%= image_tag "about/dad_me.jpg", :class => "family-img red", :style => "margin-right: 0px;" %>
    </div>

    <div class="about-content-inner" style="margin-top: 0px; padding-top: 0px;">
      <%= image_tag "about/brother_me.jpg", :class => "family-img red" %>
      <%= image_tag "about/grandparents_me.jpg", :class => "family-img gray", :style => "margin-right: 0px;" %>
    </div>

    <%# Taiwan %>
    <div class="about-content-inner" style="margin-top: 30px;">
      <h2 class="taiwan-text">We are from <b class="text-red">Taiwan</b></h2>
      <%= image_tag "about/taiwan-island.svg", :class => "taiwan-island" %>
    </div>

    <div class="about-content-inner">
      <div class="bar graybar" style="margin-top: 0px"></div>
    </div>

    <%# Hobbies %>
    <div class="about-content-inner">
      <h2>Some <b class="text-red">hobbies</b> of mine include...</h2>
    </div>

    <div class="about-content-inner">
      <%= image_tag "about/violin.svg", :class => "hobby-img" %>
      <%= image_tag "about/drums.svg", :class => "hobby-img" %>
      <br/>
      <span class="img-caption-hobby">Violin</span>
      <span class="img-caption-hobby red">Drumset</span>
    </div>

    <div class="about-content-inner">
      <%= image_tag "about/mma.svg", :class => "hobby-img" %>
      <%= image_tag "about/snowboard.svg", :class => "hobby-img" %>
      <br/>
      <span class="img-caption-hobby red">Martial Arts</span>
      <span class="img-caption-hobby">Snowboarding</span>
    </div>

    <div class="about-content-inner">
      <%= image_tag "about/programming.svg", :class => "hobby-img" %>
      <%= image_tag "about/magic.svg", :class => "hobby-img" %>
      <br/>
      <span class="img-caption-hobby">Hacking</span>
      <span class="img-caption-hobby red">Card Magic</span>
    </div>

    <div class="about-content-inner">
      <div class="bar graybar" style="margin-top: 0px"></div>
    </div>

    <%# University of Maryland, College Park %>
    <div class="about-content-inner">
      <h2>I graduated from the <b class="text-red">University of Maryland</b>, College Park</h2>
    </div>

    <div class="about-content-inner">
      <%= image_tag "about/graduation-me.jpg", :class => "graduation-img" %>
    </div>

    <div class="about-content-inner">
      <h2>with a bachelor's degree in <b class="text-red">Computer Science.</b></h2>
    </div>

    <div class="about-content-inner">
      <iframe style="float:right;" width="560" height="315" src="https://www.youtube.com/embed/do5AaJGbFj8" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="about-content-inner">
      <h2>I delivered the <b class="text-red">Student Commencement Speech</b><br/> at my class Graduation in <b class="text-red">May 2014</b>.</b></h2>
    </div>

    <div class="about-content-inner">
      <div class="bar graybar" style="margin-top: 0px"></div>
    </div>

    <%# TASA %>
    <div class="about-content-inner">
      <h2>In college I was <b class="text-red">heavily involved</b> with...</h2>
    </div>

    <div class="about-content-inner">
      <%= image_tag "about/tasa.jpg", :class => "hobby-img grayborder" %>
      <%= image_tag "about/itasa.jpg", :class => "hobby-img grayborder" %>
      <br/>
      <span class="img-caption-hobby">UMCP TASA</span>
      <span class="img-caption-hobby" style="margin-left:20px">ITASA</span>
    </div>

    <div class="about-content-inner">
      <div class="bar redbar long"></div>
    </div>

    <%# FiscalNote %>
    <div class="about-content-inner">
      <h2>Today I live in <b class="text-red">Washington, DC</b></h2>
    </div>

    <div class="about-content-inner">
      <a href="https://www.fiscalnote.com"><%= image_tag "about/fiscalnote-logo.png", :class => "fn-logo-img" %></a>
    </div>

    <div class="about-content-inner">
      <h2>Where I serve as the <b class="text-red">CTO & Co-Founder</b> of FiscalNote, Inc.</h2>
    </div>

    <div class="about-content-inner">
      <h3>To be <b class="text-red">continued</b>...</h3>
    </div>

  </div>
</div>
