<%# Extra stylesheets (CSS) just for this page. %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "animate" %>
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "navigation" %>
  <%= stylesheet_link_tag "link_loading" %>
<% end %>

<%# Extra Javascript just for this page. %>
<% content_for :extra_javascripts do %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%= javascript_include_tag "home.js" %>
  <%= javascript_include_tag "svg_draw.js" %>
  <%= javascript_include_tag "wow.min.js" %>
  <%= javascript_include_tag "modernizr.custom.js" %>
  <%= javascript_include_tag "classie.js" %>
<% end %>

<%# Activate WOW %>
<script>new WOW().init();</script>

<%# loading animation %>
<div class="la-anim-10"></div>

<%# Welcome message %>
<h1 class="animated bounceInDown">Scroll Down <%= image_tag "arrow_down.svg", :class => "arrow-down" %></h1>

<%# If user hasn't scrolled yet, remind them %>
<h4 class="wow fadeIn" data-wow-duration=".5s" data-wow-delay="3s">What are you waiting for?</h4>

<%# Logo %>
<%= image_tag "JC_logo-fixed.svg", :id => "jc-logo" %>

<%# Jonathan Chen %>
<%= render "layouts/jonathan_chen" %>

<%# navigation links %>
<section class="color-blue">
  <nav class="cl-effect-blue text-center">
    <a href="<%= about_path %>" class="wow bounceInDown" data-wow-delay="0s">About</a>
    <a href="<%= work_path %>" class="wow bounceInDown" data-wow-delay=".15s">Work</a>
    <a href="<%= projects_path %>" class="wow bounceInDown" data-wow-delay=".3s">Projects</a>
    <a href="<%= press_path %>" class="wow bounceInDown" data-wow-delay=".45s">Press</a>
    <a href="https://medium.com/@Hackbyrd" class="wow bounceInDown" data-wow-delay=".6s">Blog</a>
  </nav>
</section>

<%# button to activate corner loader %>
<div id="la-buttons" style="display: none;">
  <button id="corner" data-anim="la-anim-10" >Corner indicator</button>
</div>

<%# For corner loader %>
<script>
  var loader = document.getElementById('la-anim-6-loader')
    , border = document.getElementById('la-anim-6-border')
    , α = 0
    , π = Math.PI
    , t = 15

    , tdraw;

  function PieDraw() {
    α++;
    α %= 360;
    var r = ( α * π / 180 )
    , x = Math.sin( r ) * 250
    , y = Math.cos( r ) * - 250
    , mid = ( α > 180 ) ? 1 : 0
    , anim = 'M 0 0 v -250 A 250 250 1 '
           + mid + ' 1 '
           +  x  + ' '
           +  y  + ' z';

    loader.setAttribute( 'd', anim );
    border.setAttribute( 'd', anim );
    if( α != 0 )
    tdraw = setTimeout(PieDraw, t); // Redraw
  }

  function PieReset() {
    clearTimeout(tdraw);
    var anim = 'M 0 0 v -250 A 250 250 1 0 1 0 -250 z';
    loader.setAttribute( 'd', anim );
    border.setAttribute( 'd', anim );
  }

  var inProgress = false;

  Array.prototype.slice.call( document.querySelectorAll( '#la-buttons > button' ) ).forEach( function( el, i ) {
    var anim = el.getAttribute( 'data-anim' ),
      animEl = document.querySelector( '.' + anim );

    el.addEventListener( 'click', function() {
      if( inProgress ) return false;
      inProgress = true;
      classie.add( animEl, 'la-animate' );

      if( anim === 'la-anim-6' ) {
        PieDraw();
      }

      setTimeout( function() {
        classie.remove( animEl, 'la-animate' );

        if( anim === 'la-anim-6' ) {
          PieReset();
        }

        inProgress = false;
      }, 6000 );
    } );
  } );
</script>
