<%# Extra stylesheets (CSS) just for this page. %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag "portfolio" %>
  <%= stylesheet_link_tag "rotating" %>
<% end %>

<%# Extra Javascript just for this page. %>
<% content_for :extra_javascripts do %>
  <%= javascript_include_tag "portfolio.js" %>
  <%= javascript_include_tag "particleground.js" %>
  <%= javascript_include_tag "side-navigation.js" %>
<% end %>

<%# sun moves horizontally %>
<div id="sun"></div>

<%# asteroids %>
<div class="asteroid" id="asteroid-0"></div>
<div class="asteroid" id="asteroid-1"></div>
<div class="asteroid" id="asteroid-2"></div>
<div class="asteroid" id="asteroid-3"></div>
<div class="asteroid" id="asteroid-4"></div>
<div class="asteroid" id="asteroid-5"></div>
<div class="asteroid" id="asteroid-6"></div>
<div class="asteroid" id="asteroid-7"></div>
<div class="asteroid" id="asteroid-8"></div>
<div class="asteroid" id="asteroid-9"></div>
<div class="asteroid" id="asteroid-10"></div>
<div class="asteroid" id="asteroid-11"></div>
<div class="asteroid" id="asteroid-12"></div>
<div class="asteroid" id="asteroid-13"></div>
<div class="asteroid" id="asteroid-14"></div>
<div class="asteroid" id="asteroid-15"></div>
<div class="asteroid" id="asteroid-16"></div>
<div class="asteroid" id="asteroid-17"></div>
<div class="asteroid" id="asteroid-18"></div>
<div class="asteroid" id="asteroid-19"></div>
<div class="asteroid" id="asteroid-20"></div>
<div class="asteroid" id="asteroid-21"></div>
<div class="asteroid" id="asteroid-22"></div>
<div class="asteroid" id="asteroid-23"></div>
<div class="asteroid" id="asteroid-24"></div>
<div class="asteroid" id="asteroid-25"></div>
<div class="asteroid" id="asteroid-26"></div>
<div class="asteroid" id="asteroid-27"></div>
<div class="asteroid" id="asteroid-28"></div>
<div class="asteroid" id="asteroid-29"></div>
<div class="asteroid" id="asteroid-30"></div>
<div class="asteroid" id="asteroid-31"></div>
<div class="asteroid" id="asteroid-32"></div>
<div class="asteroid" id="asteroid-33"></div>
<div class="asteroid" id="asteroid-34"></div>
<div class="asteroid" id="asteroid-35"></div>
<div class="asteroid" id="asteroid-36"></div>
<div class="asteroid" id="asteroid-37"></div>
<div class="asteroid" id="asteroid-38"></div>
<div class="asteroid" id="asteroid-39"></div>
<div class="asteroid" id="asteroid-40"></div>
<!--<div class="asteroid" id="asteroid-41"></div>
<div class="asteroid" id="asteroid-42"></div>
<div class="asteroid" id="asteroid-43"></div>
<div class="asteroid" id="asteroid-44"></div>
<div class="asteroid" id="asteroid-45"></div>
<div class="asteroid" id="asteroid-46"></div>
<div class="asteroid" id="asteroid-47"></div>
<div class="asteroid" id="asteroid-48"></div>
<div class="asteroid" id="asteroid-49"></div>
<div class="asteroid" id="asteroid-50"></div> -->

<%# stars %>
<div class="background-star" id="star-1"></div>

<%# rocket moves on scroll %>
<div class="jcrocket-1" id="jcrocket"></div>

<div id="particles" class="window-height">
  <div class="intro">
    <h1><a href="https://www.github.com/hackbyrd" target="_blank"><%= image_tag "social/github_white.svg", :class => "github-link" %></a> Hackbyrd</h1>
    <p>Reach for the stars</p>
    <button class="btn" id="see-portfolio">Start Exploring</button>
  </div>
</div>

<%# Show Portfolio of past projects and designs %>
<div class="window-height-3x" style="width: 100%; background-color: transparent"></div>
<div class="content-panel window-height" id="portfolio-1" style="background-color: rgba(189, 148, 199, .9);">
  <button class="btn panel-btn" id="seeportfolio-2">Next Destination</button>
</div>

<div class="window-height-3x" style="width: 100%; background-color: transparent"></div>
<div class="content-panel window-height" id="portfolio-2" style="background-color: rgba(232, 239, 238, .9);">
  <button class="btn panel-btn" id="seeportfolio-3">Next Destination</button>
</div>

<div class="window-height-3x" style="width: 100%; background-color: transparent"></div>
<div class="content-panel window-height" id="portfolio-3" style="background-color: rgba(85, 148, 199, .9);">
  <button class="btn panel-btn" id="seeportfolio-4">Next Destination</button>
</div>

<div class="window-height-3x" style="width: 100%; background-color: transparent"></div>
<div class="content-panel window-height" id="portfolio-4" style="background-color: rgba(198, 124, 25, .9);">
  <button class="btn panel-btn" id="seeportfolio-0">Return Home</button>
</div>
