<%# Extra stylesheets (CSS) just for this page. %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag "portfolio" %>
  <%= stylesheet_link_tag "asteroids" %>
<% end %>

<%# Extra Javascript just for this page. %>
<% content_for :extra_javascripts do %>
  <%= javascript_include_tag "portfolio.js" %>
  <%= javascript_include_tag "particleground.js" %>
  <%= javascript_include_tag "side-navigation.js" %>
<% end %>

<%# sun moves horizontally %>
<div id="sun"></div>

<%# asteroids %>
<div name="-1100" class="asteroid rotating-clockwise-3s" id="asteroid-1"></div>
<div name="-1310" class="asteroid rotating-clockwise-1s" id="asteroid-2"></div>
<div name="-1330" class="asteroid rotating-counter-clockwise-2s" id="asteroid-3"></div>
<div name="-1500" class="asteroid rotating-clockwise-3s" id="asteroid-4"></div>
<div name="-1550" class="asteroid rotating-clockwise-1s" id="asteroid-5"></div>
<div name="-1570" class="asteroid rotating-counter-clockwise-4s" id="asteroid-6"></div>
<div name="-1750" class="asteroid rotating-clockwise-4s" id="asteroid-7"></div>
<div name="-1790" class="asteroid rotating-counter-clockwise-2s" id="asteroid-8"></div>
<div name="-1870" class="asteroid rotating-clockwise-3s" id="asteroid-9"></div>
<div name="-1990" class="asteroid rotating-counter-clockwise-3s" id="asteroid-10"></div>
<div name="-2080" class="asteroid rotating-clockwise-1s" id="asteroid-11"></div>
<div name="-2150" class="asteroid rotating-counter-clockwise-1s" id="asteroid-12"></div>

<div name="-2270" class="asteroid rotating-clockwise-3s" id="asteroid-13"></div>
<div name="-2290" class="asteroid rotating-clockwise-1s" id="asteroid-14"></div>
<div name="-2330" class="asteroid rotating-counter-clockwise-2s" id="asteroid-15"></div>
<div name="-2400" class="asteroid rotating-clockwise-3s" id="asteroid-16"></div>
<div name="-2510" class="asteroid rotating-clockwise-1s" id="asteroid-17"></div>
<div name="-2570" class="asteroid rotating-counter-clockwise-4s" id="asteroid-18"></div>
<div name="-2750" class="asteroid rotating-clockwise-4s" id="asteroid-19"></div>
<div name="-2790" class="asteroid rotating-counter-clockwise-2s" id="asteroid-20"></div>
<div name="-2870" class="asteroid rotating-clockwise-3s" id="asteroid-21"></div>
<div name="-2990" class="asteroid rotating-counter-clockwise-3s" id="asteroid-22"></div>
<div name="-3040" class="asteroid rotating-clockwise-1s" id="asteroid-23"></div>
<div name="-3150" class="asteroid rotating-counter-clockwise-1s" id="asteroid-24"></div>
<div name="-3280" class="asteroid rotating-counter-clockwise-4s" id="asteroid-25"></div>
<div name="-3400" class="asteroid rotating-counter-clockwise-4s" id="asteroid-0"></div>

<%# stars %>
<div class="background-star" id="star-1"></div>

<%# rocket moves on scroll %>
<div class="jcrocket-1" id="jcrocket"></div>

<div id="particles" class="window-height">
  <div class="intro">
    <h1><a href="https://www.github.com/hackbyrd" target="_blank"><%= image_tag "social/github_white.svg", :class => "github-link" %></a> Hackbyrd</h1>
    <p>The sky is not the limit</p>
    <button class="btn" id="see-portfolio">Coming Soon</button>
  </div>
</div>

<div class="window-height" style="width: 100%; background-color: transparent"></div>
<div class="window-height" style="width: 100%; background-color: transparent" id="portfolio-1"></div>
<div class="window-height" style="width: 100%; background-color: transparent"></div>
<div class="window-height" style="width: 100%; background-color: transparent"></div>
<div class="window-height" style="width: 100%; background-color: transparent"></div>
