<div class = "container-fluid" id = "footer">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-6">
        <div id = "contact-box">
          jchaochin@gmail.com
        </div>
      </div>
      <div class = "col-sm-6">
        <div id = "social-media-box">
          <a href = "https://plus.google.com/+JonathanChenHackbyrd"><%= image_tag "social-media-icons/googleplus-icon.png", :class => "social-media-icon" %></a>
          <a href = "https://github.com/hackbyrd"><%= image_tag "social-media-icons/github-icon.png", :class => "social-media-icon" %></a>
          <a href = "https://www.linkedin.com/in/hackbyrd"><%= image_tag "social-media-icons/linkedin-icon.png", :class => "social-media-icon" %></a>
          <a href = "https://twitter.com/hackbyrd"><%= image_tag "social-media-icons/twitter-icon.png", :class => "social-media-icon" %></a>
          <a href = "https://www.facebook.com/hackbyrd"><%= image_tag "social-media-icons/facebook-icon.png", :class => "social-media-icon" %></a>
        </div>
      </div>
    </div>
  </div>
</div>