<!DOCTYPE html>
<html>
  <head>

    <title>Hackbyrd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# Stylesheets %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :extra_stylesheets %>

    <%# Prevents Cross Site Request Forgery %>
    <%= csrf_meta_tags %>

    <%# Javascript %>
    <%= javascript_include_tag 'application' %>
    <%= yield :extra_javascripts %>

  </head>

  <body>

    <%# Google Analytics %>
    <%= render "layouts/google_analytics" %>

    <%# yield main contect %>
    <%= yield %>

  </body>
</html>
