<!DOCTYPE html>
<html>
  <head>

    <title>Hackbyrd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "hackbyrd" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <%= csrf_meta_tags %>

  </head>
  <body>

    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

  </body>
</html>
